[submodule "arduino/workshop-ws/alereal96"]
  path = arduino/workshop-ws/alereal96
  url = https://github.com/alereal96/arduino-ws.git

[submodule "arduino/workshop-ws/alvaromarbla"]
  path = arduino/workshop-ws/alvaromarbla
  url = https://github.com/alvaromarbla/arduino-ws.git

[submodule "arduino/workshop-ws/Diego4121999"]
  path = arduino/workshop-ws/Diego4121999
  url = https://github.com/Diego4121999/arduino-ws.git

[submodule "arduino/workshop-ws/Enriquegp00"]
  path = arduino/workshop-ws/Enriquegp00
  url = https://github.com/Enriquegp00/arduino-ws.git

[submodule "arduino/workshop-ws/jeronimoagullo"]
  path = arduino/workshop-ws/jeronimoagullo
  url = https://github.com/jeronimoagullo/arduino-ws.git

[submodule "arduino/workshop-ws/lorcalrol"]
  path = arduino/workshop-ws/lorcalrol
  url = https://github.com/lorcalrol/arduino-ws.git

[submodule "arduino/workshop-ws/lucgalgal"]
  path = arduino/workshop-ws/lucgalgal
  url = https://github.com/lucgalgal/arduino-ws.git

[submodule "arduino/workshop-ws/VirginiaOSC"]
  path = arduino/workshop-ws/VirginiaOSC
  url = https://github.com/VirginiaOSC/arduino-ws.git
